#logo{
color: #6f2232;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight:bold ;
}

#tlogo{
    width: max-content;
width: 200px;
    background-color: #6f2232;
margin-top: 40px;
}
/* 
body{
    background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url("bg.jpg");
   
background-attachment:fixed;
}
*/

body{

    background-color: #1A1A1D;
}

